<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore quia consectetur, rerum laudantium iste aliquid, quasi veniam alias quae exercitationem? Aliquam cupiditate nihil explicabo eum ipsum eligendi non velit?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore quia consectetur, rerum laudantium iste aliquid, quasi veniam alias quae exercitationem? Aliquam cupiditate nihil explicabo eum ipsum eligendi non velit?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis tempore quia consectetur, rerum laudantium iste aliquid, quasi veniam alias quae exercitationem? Aliquam cupiditate nihil explicabo eum ipsum eligendi non velit?</p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>